.component-scheduled-trips{
    display: flex;
    flex-direction: column;
    width: 100%;

    .details-view-parent-container{
        margin-bottom: 1.5rem;

        h2{
            font-size: 26px;
            color: gray;
        }

        .details-view-item{
            background: rgba(0,128,128,.6);
            padding:1rem;
            border: 1.5px solid rgba(0,128,128,1);
            border-radius: 5px;
            margin:1.5rem;
            margin-top: 1.8rem;
            box-shadow: -10px 10px 3px rgba(0,0,0,0.15);
            cursor: pointer;
        
            &:hover {
                background:rgba(223,78,32,1);
                border: 1.5px solid rgba(223,78,32,1);
                box-shadow: -10px 10px 3px rgba(223,78,32,.15);
                opacity: .8;
            }
        }

        .list-title{
            display: flex;
            flex-direction: row;
            align-items: center;
            justify-content: space-between;
            padding-left: 1rem;
            padding-right: 1rem;
        }
    }

    .pagination-container{
        align-self: center;
        margin-right: 1rem;
    }

    .content-container{
        display: flex;
        flex-direction: row;
        height: 100px;

        .pin-origin-destination{
            height: 100%;
            display: flex;
            color: white;

            .pin-icon{
                height: 100%;
            }

            .origin-destination{
                margin-left: .5rem;
                display: flex;
                flex-direction: column;
                justify-content: flex-start;
                align-items: flex-start;
                height: 100%;
            } 
        }

        .content-text-info{
            display: flex;
            flex-direction: column;
            justify-content: flex-start;
            width: 100%;

            .content-text-info-items{
                border-left: 1px solid rgba(0,0,0,.2);
                padding-left: 1rem;
                margin-top: .3rem;
                margin-left:10%; 
                height:100%; 
                display:flex;
                flex-direction:row;

                .items{
                    display:flex; 
                    flex-direction:column;
                    align-self:flex-end;
                    color: white;

                    .company-text{
                        font-size: 15px;
                    }

                    .bus-model-text{
                        font-size: 15px;
                    }

                    .departure-time-title{
                        margin-top: .8rem;
                        font-size: 1rem;
                    }

                    .departure-time{
                        font-size: 16px;
                    }
                }
            }
        }


    }   

    @media screen and (min-width: 320px) {
        .company-text{
            font-size: calc(12px + 6 * ((100vw - 320px) / 680)) !important;
        }

        .bus-model-text{
            font-size: calc(12px + 6 * ((100vw - 320px) / 680)) !important;
        }

        .departure-time{
            font-size: calc(14px + 6 * ((100vw - 320px) / 680)) !important;
        }
        .departure-time-title{
            font-size: calc(10px + 6 * ((100vw - 320px) / 680)) !important;
        }

        .origin-destination span{
            font-size: calc(14px + 6 * ((100vw - 320px) / 680)) !important;
        }

        .list-title{
            display: flex;
            flex-direction: column !important;
            justify-content: flex-start !important;
            align-items: flex-start;

            h2{
                font-size: 1.5rem;
            }
        }
      }

      @media screen and (min-width: 800px) {
        .list-title{
            display: flex;
            flex-direction: row !important;
            justify-content: space-around !important;
        }
      }

      @media screen and (min-width: 1000px) {

        .details-view-item{
            margin-left: 6rem !important;
            margin-right: 6rem !important;
        }
        .company-text{
            font-size: 16px !important;
        }

        .bus-model-text{
            font-size: 16px !important;
        }

        .departure-time{
            font-size: 16px !important;
        }
        .departure-time-title{
            font-size: 11px !important;
        }

        .origin-destination span{
            font-size: 18px !important;
        }
    }
}




