@media all and (min-width: 480px) {
  .login-page {
    padding: 60px 0;
    height: 100vh;
    background: #fff;
  }

  .login-form{
    margin: 0 auto;
    margin-top: 5%;
    max-width: 400px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    padding: 2rem;
    padding-bottom: 4rem;
    background: teal;
    border-radius: 5px;
    box-shadow: 5px 10px 10px grey;

    .hide{
      display: none !important;
    }

    .login-button{
      margin-top: 1rem;
    }
  
    .login-page-logo-section{
        height:120px; 
        width:100%; 
        display:flex;
        margin-top: 1rem;
  
        img{
          height: 100%;
          margin: 0 auto;
        }
    }
  
    .delivery-express-section{
      display: flex;
      margin-bottom: 2rem;
      flex-direction: column;
      justify-content: center;
      align-items: center;
  
      .version{
        font-size: 13px;
        font-weight: bold;
        color: white;
      }

      .txt-delivery-express{
        margin: 0 auto;
        font-size: 20px;
        font-weight: 200;
        color: white;
      }
    }

  }
}
