
  .login-page {
    padding: 60px 0;
    height: 100vh;
    background: #fff;
  }

  .login-form{
    margin: 0 auto;
    margin-top: 5%;
    max-width: 450px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    padding: 2rem;
    background: teal;
    border-radius: 5px;
    box-shadow: 5px 10px 10px grey;
  

    @media only screen and (max-width: 768px){
      width: 100%;
      height: 100%;
    }

    .hide{
      display: none !important;
    }

    .login-button{
      margin-top: 1rem;
    }
  
    .login-page-logo-section{
        height:120px; 
        width:100%; 
        display:flex;
        margin-top: 1rem;
  
        img{
          height: 100%;
          margin: 0 auto;

          @media only screen and (max-width: 650px){
            height: 100px;
          
          }

        }
    }
  
    .delivery-express-section{
      display: flex;
      margin-bottom: 2rem;
      flex-direction: column;
      justify-content: center;
      align-items: center;
  
      .version{
        font-size: 13px;
        font-weight: bold;
        color: white;
      }

      .txt-delivery-express{
        margin: 0 auto;
        font-size: 1.7rem;
        font-weight: 100;
        color: white;
      }
    }

  }
.version-column{
  margin-top: 2rem;
  color: #fff;
  text-align: center;
  font-size: 1rem;
  font-weight: 200;
}
