.home-page-container{

    height: 100vh;
    
    .ant-layout-footer{
        background: rgba(0, 0, 0, 0.09) !important;
    }

    .home-body{
        background-color: red !important;
    }
    
    .header-nav{
        height: 100%;
        display: flex;
        flex-direction: row;
        align-items: center;
        float: right;
    }
    
    .home-sider{
        background: white !important;
    }
    
    .home-nav-link{
        color: white !important;
        font-weight: bold !important;
    }

    .slider-container{
        display: flex;
        flex-direction: column;
        justify-content: space-between;
        height: 100%;

        .version{
            color: rgba($color: gray, $alpha: .4);
            text-align: center;
            font-size: 13px;
        }
    }
}
