
.component-review-details{
   width: 100%;

    .container-border-box{
        background:white;
        margin-top:1rem;
        border: 1px solid #d9d9d9;
        padding:1rem;
    }

    .parcel-image-container{
        background: rgba(0,0,0,.1);
        display: flex;
        flex-direction: row;
        justify-content: center;
        align-items: center;
        border: 1px solid #d9d9d9;
        padding:1rem;
        width: 100%;
        overflow: scroll;

        .img-parcel{
            height: 300px;
            width: 300px;
            margin-right: 1rem;
            border: 1.5px solid rgba(0,0,0,.2);
            box-shadow: 2px 3px 10px gray;
        }
    }

    .sender{
        margin-right: .5rem;
    }

    .receiver{
        margin-left: .5rem;
    }
}

