.user-profile-module{
  display: flex;
  flex-direction: row;
  justify-content: flex-start;
  height: 100%;
  padding: 2rem 0 2rem 5rem;
  border-left: solid rgb(206, 201, 201) 1px;
  background: #fff;
  @media screen and (max-width: 768px){
    
      flex-direction: row;
      width: 100%;
      display: block;
      padding-left: 0;
      height: 200%;
      background: white;
     
    
  }
  .profile-text {
    font-weight: bold;
    color: rgba($color: #008080, $alpha: 0.5) !important;
    font-size: 20px;
    margin-bottom: 20px;
    @media only screen and (max-width: 768px){
      margin: 0 0 0 1rem;
    }

  }
  .company-profile {
    width: 35%;
    display: flex;
    flex-direction: column;
    align-self: left;
    border-right: 2px solid rgba(220,220,220,0.85);

    @media only screen and (max-width: 768px){
      border-right: 0;
      width: auto;
      flex-direction: column;
      margin: 0;
      border-bottom: 1px solid rgba(220,220,220,0.85) ;
     
    }

  .main-profile {
    width: 100%;
    display: flex;
    flex-direction: column;
    align-self: left;
   
    @media only screen and (max-width: 768px){
      border-right: 0;
      width: auto;
      flex-direction: row;
      margin: 0;
      border-bottom: 1px solid rgba(220,220,220,0.85) ;
     
    }
   

    .profile {
        align-self: left;
        padding-bottom: 1rem;
        margin-right: 1rem;

        @media only screen and (max-width: 768px){
          padding: 0;
          margin: 0;
        
        }
    }

    .bus-profile {
      width: 100%;
      align-self: center;
      
      @media only screen and (max-width: 768px){
      margin: 0;
      padding: 0;
      width: 500px;
      }
    }
    
  }
}

  .main-creds {
    display: flex;
    flex-direction: column;
    width: 100%;
    margin: 0 5rem 10rem 1rem;
    
    @media screen and (max-width: 768px){
     margin: 0;
     width: 90%;
  }

    .creds {
      display: flex;
      flex-direction: column;
      
      

      @media screen and (max-width: 768px){
          display: flex;
          flex-direction: column;
          width: 100%;
      
      }
    }
  }

  .item-wrapper{
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    width: 100%;
    margin-top: .5rem !important;
    margin-bottom: .5rem !important;

    .title{
      margin-top: 1.3rem;
      color: rgba($color: #008080, $alpha: 0.5);
      font-weight: bold;
      font-size: 1rem !important;
      
    }
    .change-pass{
      justify-content: space-between;
      display: flex;
      

      a{
        text-decoration: none;
        color: rgba(0 , 128, 128,0.8);
        font-size: 0.9rem;
        font-weight: bold;
      }
    }
    .value{
      font-size: 1.3rem;
      font-weight: 300;
    }

    Input {
      margin-top: 0.5rem;
      width: 70%;

      @media only screen and (max-width: 768px){
        width: 100%;
        margin: 0 5rem 0rem 1rem;
      }
      
    }
  }

  .wrapper-margin-top{
    margin-top: 2rem !important;
  }

  .remove-span-gap{
    line-height: 10px !important;
  }

  .item-wrapper-custom-text-title{
    color: rgba($color: #008080, $alpha: 0.5) !important;
    line-height: 15px !important;
   
    @media only screen and (max-width: 768px){
      width: 100%;
      margin: 0 5rem 0rem 1rem;
      
    }
    
   
  }

  .item-wrapper-custom-text-value{
    border-bottom: rgba($color:gray, $alpha: 0.4) solid .1px;

    @media only screen and (max-width: 768px){
      width: 100%;
      margin: 0 5rem 0rem 1rem;
    }
   
  }

  .avatar-container{
    align-self: left;
    width: 200px;
    height: 200px;

    @media only screen and (max-width: 768px){
      display: flex;
      justify-content: center;
      align-items: center;
     
    }

    img{
      height: 100%;
      width: 100%;
      border:solid #cad1d4 1px;
      box-shadow: 1px 2px 3px;
      border-radius: 10px;
      

      @media only screen and (max-width: 768px){
        height: 80%;
        width: 80%;
      }
    }
    
  }
}

.button-wrapper-view{
  padding: 1rem;
  width: 50%;
  align-self: center;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  margin-top: 2.5rem;

  @media only screen and (max-width: 768px){
   width: 100%;
   align-self: center;
   display: flex;
  }
  .button-edit {
    width: 100%;
    background: #008080;
    border: none;
    right: 3rem; 
  }

  button:hover {
    background: rgba(0,128,128,.5);
  }
}

.button-wrapper-edit {
  width: 30%;
  align-self:baseline;
  display: flex;
  flex-direction: row;
  justify-content: space-evenly;
  margin-top: 2.5rem;
  margin-left: 25rem;
  
  
  @media only screen and (max-width: 768px){
    width: 60%;
    margin-left: 9rem;
    }

    @media only screen and (max-width: 1024px){
      width: 40%;
      margin-left: 12rem;
      }
      @media only screen and (max-width: 375px){
        width: 60%;
        margin-left: 10rem;
        }

  .button-cancel {
    width: 40%;
    background: none;
    border: #008080 2px solid;
    color:#008080;
    border-radius: 5px;
  }

  .button-cancel:hover {
    width: 40%;
    background: none;
    border: #008080 2px solid;
    color:#008080;
  }

  .button-update {
    width: 40%;
    background: #008080;
    border: none;
    border-radius: 5px;
  }

  .button-update:hover {
    background: rgba(0,128,128,.5);
  }
}
