.user-profile-module{
  display: flex;
  flex-direction: row;
  justify-content: flex-start;
  height: 100%;
  padding-top: 1rem;
  padding-bottom: 1rem;
  padding-left: 3rem;
  border-left: solid rgb(206, 201, 201) 1px;
  background: #fff;

  .main-profile {
    width: 45%;
    display: flex;
    flex-direction: column;
    align-self: left;
    margin: 2rem;
    border-right: 2px solid rgba(220,220,220,0.85);

    .profile {
        align-self: center;
        padding-bottom: 1rem;
        margin-right: 1rem;
    }

    .bus-profile {
      width: 80%;
      align-self: center;
    }
  }

  .main-creds {
    display: flex;
    flex-direction: column;
    width: 80%;
    align-self: center;
    margin: 2rem;

    .creds {
      display: flex;
      flex-direction: row;
    }
  }

  .item-wrapper{
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    width: 100%;
    margin-top: .5rem !important;
    margin-bottom: .5rem !important;

    .title{
      margin-top: 1.3rem;
      color: rgba($color: #008080, $alpha: 0.5);
      font-weight: bold;
      font-size: 1rem !important;
    }
    .value{
      font-size: 1.3rem;
      font-weight: 300;
    }

    Input {
      margin-top: 0.5rem;
      width: 60%;
    }
  }

  .wrapper-margin-top{
    margin-top: 2rem !important;
  }

  .remove-span-gap{
    line-height: 10px !important;
  }

  .item-wrapper-custom-text-title{
    color: rgba($color: #008080, $alpha: 0.5) !important;
    line-height: 15px !important;
  }

  .item-wrapper-custom-text-value{
    border-bottom: rgba($color:gray, $alpha: 0.4) solid .1px;
  }

  .avatar-container{
    align-self: center;
    width: 200px;
    height: 200px;

    img{
      height: 100%;
      width: 100%;
      border-radius: 50%;
      border:solid #cad1d4 1px;
    }
  }

}

.button-wrapper-view{
  padding: 1rem;
  width: 50%;
  align-self: center;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  margin-top: 2.5rem;

  .button-edit {
    width: 100%;
    background: #008080;
    border: none;
    right: 3rem;
  }

  button:hover {
    background: rgba(0,128,128,.5);
  }
}

.button-wrapper-edit {
  width: 60%;
  align-self: baseline;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  margin-top: 2.5rem;

  .button-cancel {
    width: 49%;
    background: gray;
    border: none;
  }

  .button-cancel:hover {
    background: rgba(190,190,190,.5);
  }

  .button-update {
    width: 49%;
    background: #008080;
    border: none;
  }

  .button-update:hover {
    background: rgba(0,128,128,.5);
  }
}
