.user-profile-module{
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  height: 100%;
  padding-top: 3rem;
  padding-bottom: 3rem;
  border-left: solid rgb(206, 201, 201) 1px;
  background: #fff;

  .item-wrapper{
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    width: 100%;
    margin-top: .5rem !important;

    .title{
      color: #cad1d4;
      font-weight: bold;
      font-size: 1rem !important;
    }
    .value{
      font-size: 1.3rem;
      font-weight: 300;
    }
  }

  .wrapper-margin-top{
    margin-top: 2rem !important;
  }

  .remove-span-gap{
    line-height: 10px !important;
  }

  .item-wrapper-custom-text-title{
    color: rgba($color: #008080, $alpha: 0.5) !important;
    line-height: 15px !important;
  }

  .item-wrapper-custom-text-value{
    border-bottom: rgba($color:gray, $alpha: 0.4) solid .1px;
  }

  .avatar-container{
    align-self: center;
    width: 200px;
    height: 200px;

    img{
      height: 100%;
      width: 100%;
      border-radius: 50%;
      border:solid #cad1d4 1px;
    }
  }

}
