
.about-main {
  display: flex;
  overflow: scroll;
  height: 100vh;

  .home-nav-link{
    color: white !important;
    font-weight: bold !important;
}
  .header-nav{
  height: 100%;
  display: flex;
  flex-direction: row;
  align-items: center;
  float: right;
}


  
  .container {
    height: 100vh;
    display: flex;
    flex-direction: column;
    width: 100%;
    justify-content: space-between;
    align-items: center;
    background-color: white;

    .about-img {
      margin-top: 5rem;
      display:flex;
      flex-direction: column;
      width: 100%;
      margin-bottom: 1.5rem;
      justify-content: center;
      align-items: center;

      .img-movon-logo{
        width: 20rem;
        height: 100%;
      }

      .versionContainer{
        display: flex;
        flex-direction: column;
        width: 100%;
        align-self: center;

        .version {
          text-align: center;
          font-size: 1.4rem;
          font-weight: 200;
          color: rgba($color: gray, $alpha: .8);
        }
      }
    }

    .about-text {
      padding-bottom: 5rem;
      display: flex;
      flex-direction:column;
      justify-content: center;
      align-items: center;
      width: 100%;
      padding-left: 5rem;
      padding-right: 5rem;
  
      p {
        font-weight: 200;
        font-size: 1.3rem;
        text-align: center;;
      }
  
      .title{
        font-size: 3rem;
        font-weight: 200;
      }
    }
  }

  .footer{
    background-color: white;
  }
}