.salesReportPage{
  .reports-page {
    border: 1px solid #e7e7e7;
    background-color: #ffffff;
    margin-top: 1rem;
    width: 95%;
  }
  
  .reports-page .title {
    font-size: 1.5rem;
  }
  
  .reports-page .summary-info {
    padding: 1rem;
  }
  
  .reports-page .ant-divider {
    font-size: 14px !important;
    color: rgba(0, 0, 0, 0.65) !important;
  }

  
  
}

.dropDownDownload{
  display: flex;
  width: 100% !important;
  margin-right: 1rem;

  button:first-child {
    width: 100% !important;
  }

 
  
}

.cargo-table{
  table{

    th {
      background-color: rgba(46,49,49,0.5) !important;
      color: white !important;
      font-size: 11px !important;
      font-weight: 500 !important;
    }
    td{
      min-width: 140px !important;
      font-size: 11px !important;
    }

    .hide {
      visibility: hidden;
    }
  }
  
}



