.component-rounded-button{

    .rounded-button{
        color: teal;
        font-weight: 400;
        border-color: white;

        &:hover{
            border-color: white;
            background: teal;
            color: white;
            box-shadow: 0 0 10px white !important;
        }

        &:focus-within{
            border-color: white;
            background: teal;
            color: white;
            box-shadow: 0 0 10px white !important;
        }
    }

    .rounded-button-disabled{
        color: rgba(0, 0, 0, .2) !important;
        font-weight: bold !important;
        font-weight: 400;
        border-color: white;
        box-shadow: 0 0 10px white !important;
    }
}