.component-ticketview-container{
    display: flex;
    flex-direction: column;
    //border: 1px dashed #333;
    width: 5.4in;
    height: 100%;
    color: black;
  
    .ant-divider-horizontal{
        margin:.5rem;
    }
  
    
  
    .scan-code-text{
        margin-top: 0.2rem;
        font-size: 1.3em;
        font-weight: 600;
    }
  
    .package-indicator-sp{
        margin-top: 1rem;
        font-size: 3em;
        
    }
  
    .package-indicator{
        font-size: 1.2rem;

  
    }

  .right-text {
   margin-top: 1rem;
   margin-bottom: 1rem;
      *{
          margin-bottom: .5rem;
      }
  }
    .customer-copy-text{
        font-weight: bold;
        font-size: 1.1em;
    }
  
    .pkg-text{
        font-size: 1rem;
    }
    .price-text{
        font-size: 1.3rem;
    }
  
    .sp-copy-margin{
        margin-top: 1rem;
    }
  
    .image-logo-container{
        width: 100%;
        height: 50px;
        margin-top: .5rem;
        margin-left: .5rem;
        margin-bottom: 1rem;
        margin-right: 2rem;
  
        .movon-logo{
            height: 100%;
            width: 200px;
            // margin-right: 3rem;
            // margin-top: .5rem;
            // margin-left: .5rem;
        }
        .date-created{
            font-size: 1.5em;
            margin-right: 2rem;
        }
        .partner-logo{
            height: 110%;
            width: 110px;
            margin-right: 1rem;
        }
    }
  
    .ticket-details{
        border:1px dashed gray;
        display: flex;
        flex-direction: column;
        justify-content: space-between;
        width: 6in;
        height: 4.5in;
    }
  }
  
  .bottom-destination-text{
    margin-top: .3rem;
    font-size: 3em;
    line-height: 1em;
    font-size: 2em;
    line-height: 0.5em;
    color: black;
    font-weight: bold;
  
  }
  .bottom-destination-BL-text{
    margin-top: .3rem;
    font-size: 3em;
    line-height: 1em;
    font-size: 2em;
    line-height: 0.5em;
    color: black;
    font-weight: bold;
  
  }
  
  .bottom-blNo-text{
    font-size: 1.5rem;
    padding-bottom: 1rem;
    color: black;
  }
  
  .bottom-blNo-num{
    font-size: 2rem;
    padding-bottom: 1rem;
    font-weight: bold;
    color: black;
  }
  
  .details-title-text{
    font-size: 1.5em;
    color: black;
  }
  
  .details-value-text{
    display: block;
    white-space: nowrap;
    text-overflow: ellipsis;
    width: auto;
    padding-right: 1rem;
    overflow: hidden;
    font-size: 1.5em;
    font-weight: bold;
    color: black;
  }
  
  