.component-steps{
    width: 100%;
    overflow: scroll;
    padding:1rem;
    padding-top:1.5rem;
    background: white;

    .component-steps{
        overflow: scroll;
    }

    .ant-steps-item-description{
        font-size: 12px !important;
    }

    .steps-item-content{
        min-height: 90px !important;
    }
}
